/* Assuming this is your CSS file */

/* Reset some default styles for consistency */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.neuro-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Set a low z-index so it's just above the AnimatedBackground */
  overflow: hidden; /* Hide the overflow to prevent scrollbars */
  pointer-events: none; /* Ignore pointer events on the neuro-lines container */
}

.neuro-line {
  width: 1px;
  height: 1px;
  background-color: #000;
  position: absolute;
  transform-origin: 50% 100%;
}

/* Add styles for the container of other elements */
.container {
  position: relative;
  z-index: 1; /* Set a higher z-index to place it above the NeuroLines */
}


/* Add styles for the PostList component */
.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post {
  /* Updated styles to remove white space */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Add styles to remove white space around images */
.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.post h2 {
  margin-top: 10px;
  font-size: 24px;
}

.post p {
  margin-top: 0px;
}

.transparent-h2 {
  background-color: transparent;
}

.post.home {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 100%; /* Ensure the container takes the full height */
}

/* styles.css */

/* ... Other styles ... */

/* Add styles for the AnimatedBackground component */
.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  z-index: -1; /* Set a negative z-index to keep it at the back */
}
/* Add styles for the Gallery component */
/* ... */

/* Add styles for the Home component */
/* ... */

/* Keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Keyframes for the neuro line animation */
@keyframes neuroLineAnimation {
  0% {
    height: 1px;
  }
  100% {
    height: 200px;
  }
}
